target/
test-reports/
.classpath
.project
.settings/
.idea/
*.iml
.tmp
movie-app/build
movie-app/coverage
movie-app/dist
movie-app/report
movie-app/node_modules
movie-app/lib
node_modules
.sass-cache
.nexus
*.sublime-*
*.zip
.DS_Store
.fuse_*
.log
movie-app/.sass-cache
movie-app/.tmp
movie-app/docs
css/
